{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello Employee {{ user.username }}!
<br />
Today is {{today}} <br>
Your Customers Today Are:
<!-- 
<ul>
    <li>{{ todays_customer }}</li>
</ul> -->


{% for customer in todays_customer%}
<li>
    <h2>{{customer.name}} </h2>
</li>
<input type="checkbox" id="pickup_Complete" name="pickup_Complete" value="Complete">
<label for="pickup_Complete"> Pickup Complete</label><br>
{% endfor %}

{% for customer in customer_schedule%}
<li>
    <h3>{{customer.name}} </h3>
</li>
{% endfor %}
{% else %}
<p>You are at the employee index, but you are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}

{% endblock %}